@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

* {
  padding: 10px 5px;
}

.card-header-title {
  display: block;
  font-size: 22px;
  text-align: center;
  color: hsl(217, 71%, 45%);
  cursor: pointer;
}

.card-header-title:hover {
  background-color: hsl(217, 71%, 45%);
  color: white;
}

.blockOpen {
  display: none;
}

#cardSubMenu {
  color: hsl(217, 71%, 45%);
  font-family: sans-serif;
}
#cardSubMenu:hover {
  color: hsl(218, 74%, 17%);
  font-family: sans-serif;
}
