body {
  margin: 20;
  padding: 20;
  display: inline-block;
}

body h1 {
  text-align: center;
  line-height: 2em;
}

#bodyContent {
  line-height: 2em;
  margin-left: 20px;
  margin-bottom: 50px;
}
#bodyContent a:hover {
  color: gray;
}

#display {
  display: none;
}
