@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

* {
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}

body {
  min-height: 100vh;
  transition: 0.5s;
  border-radius: 0;
}

img {
  margin: 0 auto;
  height: 200px;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.mouseEvent {
  border: 6px solid salmon;
  width: 220px;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  padding: 10px;
}

.theme {
  margin: 3px 0;
  border: 3px solid white;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.theme:hover {
  transform: scaleX(0.8);
}

#dark {
  background-color: black;
}
#salmon {
  background-color: salmon;
}
#yellow {
  background-color: rgb(185, 185, 11);
}

.darkTheme {
  background-color: black;
  color: white;
}
.salmonTheme {
  background-color: salmon;
  font-weight: 600;
  font-size: 22px;
}
.salmonTheme a {
  color: white;
  font-size: 16px;
}
.salmonTheme a:hover {
  color: white;
  font-style: italic;
}
.yellowTheme {
  background-color: rgb(185, 185, 11);
  color: white;
}

#labelQuestion {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.inputEvent {
  margin-top: -220px;
}

#input {
  margin-top: 10px;
  width: 30%;
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#input:hover {
  margin-top: 10px;
  width: 30%;
  background-color: rgb(196, 193, 193);
}
